.Fact {
  font-family: cursive;
  font-style: italic;
  font-size: 0.9rem;
  // border: 1px solid grey;
  box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.75);
  border-radius: 0.5rem;
  background-color: white;
  color: $darker;
  padding: 0.5rem;
  margin: 0.8rem;
  max-width: 30vw;
  p {
    padding-bottom: 1rem;

  }
  button {
    position: absolute;
    right: 0;
    color: grey;
    padding: 0 0.5rem;
  }

  .quote {
    font-family: auto;
    position: relative;  
    font-size: 2.5rem;
    &-left {
      bottom: 0.2rem;
      right: 0.2rem;
    }
    &-right {
      // bottom: 0.2rem;
    }
  }
}



@media screen and (max-width: 500px) {
  .Fact {
    max-width: 90vw;  
  }
}